html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

img {
  max-width: 100%;
}

.header {
  padding-bottom: 40px;
  background-image: url(../../img/header/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__logo {
  margin-right: 65px;
  padding-top: 48px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list {
  display: none;
}

.header__title {
  font-weight: 900;
  font-size: 58px;
  line-height: 108%;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto", sans-serif;
}

.header__button {
  padding: 21px 90px;
  border-radius: 108px;
  border: none;
  background-color: #DD2242;
  color: #ffffff;
  margin-top: 8px;
}

.header__info-list {
  margin-top: 54px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: -6px;
}

.header__info-item {
  padding: 32px;
  padding-bottom: 0;
}

.header__info-item:last-child {
  padding-bottom: 32px;
}

.header__info-number {
  color: #DD2242;
  margin-bottom: 4px;
}

.header__info-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 156%;
  color: white;
}

.header__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #939393;
}

.articles {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(1, 10, 32, 0.8);
}

.articles__title {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
}

.articles__text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.articles__button {
  padding: 16px 24px;
  border-radius: 32px;
  opacity: 0px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-color: #DD2242;
  color: white;
}

.articles__img {
  padding-top: 40px;
}

.articles__title {
  padding-bottom: 40px;
  padding-top: 34px;
}

.articles__text {
  padding-bottom: 40px;
}

.explore {
  background-image: url(../../img/explore/bg@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .explore {
    background-image: url(../../img/explore/bg@2x.png);
  }
}
.explore__carousel {
  padding-top: 25px;
  padding-bottom: 950px;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
}

.explore__carousel-title {
  margin-left: 73px;
  margin-right: 73px;
  margin-bottom: 43px;
  color: #020c21;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
}

.explore__numbers {
  background-color: #020c21;
  opacity: 0.9;
  background-size: cover;
  padding-top: 47px;
  padding-bottom: 69px;
}

.explore__numbers-title {
  margin-right: 95px;
  margin-left: 95px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: #FFFFFF;
}

.explore__numbers-text {
  margin-left: 30px;
  margin-right: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}

.explore__numbers-item-title {
  color: #DD2242;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 70px;
}

@media screen, (min-width: 1200px) {
  .explore__carousel {
    padding-top: 100px;
  }
  .explore__numbers-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.hero {
  background-image: url(./../img/video/Whangaehu.png), url(./../img/video/Whangaehu\ \(1\).png);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
  padding-bottom: 250px;
}

.hero__wrap {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: #000;
  margin-bottom: 32px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  fill: #6F7787;
}

.hero__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  background-color: #DD2242;
  border-radius: 122px;
  padding: 16px 24px;
  width: 314px;
  opacity: 0px;
  height: 73px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 40px auto 0 auto;
}

.video {
  width: 800;
  background-image: url(./../img/video/back_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 90px;
  padding-bottom: 90px;
}

.video__wrap {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  margin-bottom: 19px;
}

.video__item {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 32px;
}

.video__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}

.video__link {
  width: 314px;
  height: 192px;
  display: block;
  margin: 0 auto;
}

.video__video {
  padding-top: 40px;
  padding-bottom: 40px;
}

.gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 60px;
  margin-top: 177px;
  color: #212121;
}

.gallery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  margin-top: 41px;
  margin-bottom: 71px;
  color: #6F7787;
}

.gallery__item {
  display: inline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__img {
  margin-bottom: 30px;
  margin-right: 30px;
}/*# sourceMappingURL=main.css.map */