html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header {
  background-image: url(./../../img/header/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

.header__logo {
  margin-right: 255px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list {
  display: none;
}

.header__item {
  padding-bottom: 45px;
}

.header__title {
  font-weight: 900;
  font-size: 58px;
  line-height: 108%;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  padding: 21px 50px;
  border-radius: 108px;
  border: none;
  background-color: #DD2242;
  color: #FFFFFF;
  margin-top: 8px;
}

.header__info-list {
  margin-top: 54px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: -6px;
}

.header__info-item {
  padding: 32px;
  padding-bottom: 0;
}

.header__info-item:last-child {
  padding-bottom: 32px;
}

.header__info-number {
  color: #DD2242;
  margin-bottom: 4px;
}

.header__info-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 156%;
  color: #FFFFFF;
}

.header__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #939393;
}

.menu__container.is-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu__button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.menu__button-close {
  margin-bottom: 30px;
  font-size: 30px;
  color: #FFFFFF;
}

.menu__button-close:hover {
  color: #010A20;
}

.menu__logo {
  margin-bottom: 20px;
  max-width: 100%;
  size: 100%;
}

.menu__link {
  color: #FFFFFF;
  font-size: 24px;
}

.menu__item {
  margin-bottom: 15px;
}

.menu__link:hover {
  color: #DD2242;
}

.menu__social-link {
  color: #FFFFFF;
}

.menu__social-link:hover {
  color: #00ccff;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__info-item {
    padding: 15px;
    width: 210px;
  }
  .menu__container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 0;
    padding-top: 48px;
  }
  .header__nav-link {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .header__nav-list {
    gap: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 240px;
  }
  .header__video {
    margin-top: 26px;
    width: 417px;
    height: 254px;
  }
  .header__main {
    margin-left: 150px;
  }
}
.articles {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 10, 32, 0.8)), to(rgba(1, 10, 32, 0.8)));
  background-image: linear-gradient(rgba(1, 10, 32, 0.8), rgba(1, 10, 32, 0.8));
}

.articles__bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 10, 32, 0.8)), to(rgba(1, 10, 32, 0.8))), url(./../../img/header/header3@1x.webp);
  background-image: linear-gradient(rgba(1, 10, 32, 0.8), rgba(1, 10, 32, 0.8)), url(./../../img/header/header3@1x.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.articles__bg-two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 10, 32, 0.8)), to(rgba(1, 10, 32, 0.8))), url(./../../img/header/header4@1x.webp);
  background-image: linear-gradient(rgba(1, 10, 32, 0.8), rgba(1, 10, 32, 0.8)), url(./../../img/header/header4@1x.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .articles__button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .articles__button {
    width: 180px;
  }
  .articles__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
  .articles__img {
    margin-top: 35px;
    -webkit-box-pack: top;
        -ms-flex-pack: top;
            justify-content: top;
  }
  .articles__title {
    margin-bottom: 35px;
    margin-top: 34px;
  }
  .articles__text {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .articles__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding: 0px 124px 30px 130px;
  }
  .articles__bg,
  .articles__bg-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .articles__img {
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-right: 50px;
    padding-left: 50px;
  }
  .articles_info {
    padding-right: 124px;
    padding-left: 130px;
  }
}
.articles__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
}

.articles__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.articles__button {
  padding: 16px 24px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-color: #DD2242;
  color: #ffffff;
  border: none;
}
.articles__button:hover, .articles__button:focus {
  background-color: darkred;
}

.articles__img {
  margin-top: 40px;
}

.articles__title {
  margin-bottom: 40px;
  margin-top: 34px;
}

.articles__text {
  margin-bottom: 40px;
}

.explore {
  background-image: url(./../img/explore/bg@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .explore {
    background-image: url(../img/explore/bg@2x.png);
  }
}
.explore__carousel {
  padding-top: 25px;
  padding-bottom: 950px;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
}

.explore__carousel-title {
  margin-left: 73px;
  margin-right: 73px;
  margin-bottom: 43px;
  color: #020c21;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
}

.carousel-indicators li {
  background-color: #020c21;
}

.explore__numbers {
  background-color: #020c21;
  opacity: 0.9;
  padding-top: 47px;
  padding-bottom: 69px;
}

.explore__numbers-title {
  margin-right: 95px;
  margin-left: 95px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: #FFFFFF;
}

.explore__numbers-text {
  margin-left: 30px;
  margin-right: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}

.explore__numbers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.explore__numbers-item-title {
  color: #DD2242;
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 70px;
}

@media screen and (min-width: 1200px) {
  .explore__carousel {
    padding-top: 100px;
  }
  .explore__numbers {
    padding-top: 201px;
    padding-bottom: 225px;
  }
  .explore__numbers-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.hero {
  background-image: url(./../img/video/Whangaehu.png), url(./../img/video/Whangaehu\ \(1\).png);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
  padding-bottom: 250px;
}

.hero__wrap {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  color: #000;
  margin-bottom: 32px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  fill: #6F7787;
}

.hero__link {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  background-color: #DD2242;
  border-radius: 122px;
  padding: 16px 24px;
  width: 314px;
  opacity: 0px;
  height: 73px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 40px auto 0 auto;
}

.video {
  background-image: url(./../img/video/back.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 90px;
  padding-bottom: 90px;
  background-size: cover;
}

.video__wrap {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  text-align: center;
  margin-bottom: 19px;
  color: #FFFFFF;
}

.video__item {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.video__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6F7787;
}

.video__link {
  width: 314px;
  height: 192px;
  display: block;
  margin: 0 auto 32px auto;
}

.video__video {
  padding-top: 40px;
  padding-bottom: 40px;
}

.video__link-video {
  display: block;
  margin: 0 auto 32px auto;
}

@media screen and (min-width: 1200px) {
  .video__link-video {
    width: 100%;
    height: 594px;
    display: block;
    margin: 0 auto 125px auto;
  }
  .video__box {
    width: 610px;
    height: 195px;
    margin-left: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .video__video {
    width: 336px;
    height: 193px;
    margin-bottom: 15px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .video__text {
    font-size: 18px;
  }
  .video__item {
    font-size: 18px;
  }
}
.gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 60px;
  margin-top: 177px;
  color: #212121;
}

.gallery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  margin-top: 41px;
  margin-bottom: 71px;
  color: #6F7787;
}

.gallery__item {
  display: inline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__img {
  margin-bottom: 30px;
  margin-right: 30px;
}/*# sourceMappingURL=main.css.map */