$title-color: #212121;
$photo-lorem: #6F7787;
$white: #FFFFFF;
$explore-blue: #020c21;
$header-button-text: rgba(255, 255, 255, 0.8);
$contrast-color: #DD2242;
$header-list-background: rgba(0, 0, 0, 0.6);
$header-list-text: #939393;
$text-color: #E0E0E0;
$title-dark: #010A20;
$main-text: #6F7787;
$sky-blue: #00ccff
