$title-color: #212121;
$photo-lorem: #6F7787;
$white: #FFFFFF;
$explore-blue: #020c21;
$title-light: #FFFFFF;
$icon-fill: #FFFFFF;
$header-button-text: rgba(255, 255, 255, 0.8);
$contrast-color: #DD2242;
$header-list-background: rgba(0, 0, 0, 0.6);
$header-list-text: #939393;
$text-color: #E0E0E0;
$title-dark: #010A20;
$secrets-fill: #020B20;
$numbers-overlay: rgb(2, 12,33, 0.9);
$main-text: #6F7787;
$expirience-text: rgba(255, 255, 255, 0.7);
$guide-text: #010A20;
$footer-background: #010A20;